@font-face {
	font-family: Quicksand;
	url: url(Quicksand.ttf);
}

* {
	font-family: Quicksand;
}

:root {
	--bg: rgb(0, 0, 0);
}

body {
	background: var(--bg);
	text-align: center;
	margin-top: 100px;
}

.space {
	margin: 200px;
}

button {
	text-align: center;
}

/* Reflect 1 */
.rf1 {
	--bg-rf1: red;
	background: transparent;
	outline: 4px solid var(--bg-rf1);
	outline-offset: -4px;
	color: var(--bg-rf1);
	border: none;
	box-shadow: none;
	font-size: 150%;
	font-weight: 700;
	padding: 20px 50px;
	position: relative;
	cursor: pointer;
	transition: 0.5s;
}

.rf1::before {
	content: "Reflect 1";
	background: transparent;
	outline: 4px solid var(--bg-rf1);
	outline-offset: -4px;
	color: var(--bg-rf1);
	opacity: 0.3;
	width: 100%;
	padding: 20px 0;
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	font-weight: 700;
	transform: scaleY(-1);
	pointer-events: none;
	transition: 0.5s;
}

.rf1::after {
	content: "";
	background: linear-gradient(to top, var(--bg), transparent);
	width: 100%;
	height: 100%;
	position: absolute;
	top: calc(100% + 10px);
	left: 0;
	pointer-events: none;
}

.rf1:hover, .rf1:hover::before,
.rf1:active, .rf1:active::before {
	background: var(--bg-rf1);
	color: white;
}

.rf1:active, .rf1:active::before {
	outline-color: white;
}

/* Frame 1 */
.fr1 {
	--bg-fr1: #00FF00;
	background: var(--bg);
	color: var(--bg-fr1);
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 150%;
	font-weight: 700;
	padding: 15px 45px;
	position: relative;
	top: 5px;
	left: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.fr1::before, .fr1::after {
	content: "";
	background: var(--bg-fr1);
	width: 40px;
	height: 20px;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -1;
	transition: 0.5s;
}

.fr1::after {
	top: initial;
	left: initial;
	bottom: -5px;
	right: -5px;
}

.fr1:hover::before, .fr1:hover::after,
.fr1:active::before, .fr1:active::after {
	width: calc(100% + 10px);
	height: calc(100% + 10px);
}

.fr1:active {
	background: var(--bg-fr1);
	color: white;
}